@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

.calculator-body {
    width: 500px;
    /* height: 600px; */
    background-color: #666666;
    box-sizing: border-box;
    border-radius: 8px;
}

.upper-wrapper {
    background-color: #292929;
    transform: rotate3d(0,0, .5, 0);
    height: 100px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-wrapper {
    display: flex;
    padding: 16px;
    height: 380px;
}

.digit-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;

}

.operators-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-around;
    align-items: flex-end;
}

.button {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    background: #292929;
    color: white;
    font-size: 1.6em;
    transition: all .3s ease-in-out;
    box-shadow: 2.5px 2.5px 5px black;
}


.digit-wrapper .button {
    width: 30%;
    height: 80px;
}

.operators-wrapper .button {
    width: calc(50% - 16px);
    height: 52px;
    margin: 8px 0;
}



.digit-wrapper .buttonType-L {
    width: 64%; 
}

.operators-wrapper .buttonType-L {
    height: 160px;
}

.display {
    text-align: right;
    background-color: #73a098;
    border-radius: 4px;
    width: 100%;
    height: calc(100% - 32px);
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Stick No Bills', sans-serif;
}

.main-value {
    padding: 16px;
    font-size: 1.6em;
    margin-right: 24px;
}

.button.operator {
    background: gray;
}

.button:hover {
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 10px black;
}

.button:active {
    transform: translate(2.5px, 2.5px);
    box-shadow: none
}