body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userCard {
  display: flex;
}

.wrapper {
  width: 100%;
  background-color: rgb(75, 243, 243);
  padding: 16px;
  border-radius: 4px;
  box-sizing: border-box;
}

.wrapper h1 {
  text-align: center;
  width: 100%;
}

.subWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 129, 146);
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;
}

.subChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: gray;
  width: 100%;
  margin: 16px 0;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.subChild h3 {
  margin: 0;
  position: absolute;
  left: 0;
  top: -16px;
  background: gray;
  border-radius: 4px;
  padding: 2px 10px 2px 8px;
  box-sizing: border-box;
}

.subChild.active {
  background: rgb(4, 67, 67);
  color: white;
}

.subChild.active h3 {
  background: rgb(4, 67, 67);
  color: white;
}

.infoElement {
  text-align: center;
  font-size: 24px;
}